* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FFF2CC;
}

/* Estilos cambiados de la nav de boostrap */
.minavbar {
  background-color: #F9E2AF;
}

.navbar-titulo {
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.listaitem {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.listaitem a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.listaitem a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Articulo del main que contiene todo el main del index */
/* ARTICLES */
.infocontainer {
  padding: 50px;
  display: block;
}

.infocontainer img {
  width: 50%;
}

.infocontainer div {
  padding: 50px;
}

.infocontainer div h3 {
  font-size: 30px;
  text-align: center;
}

.infocontainer p {
  font-size: 18px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.estudiar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Fin de las imagenes intercaladas */
/* Iinicio del banner - No se como ajustar una imagen para que me quede bien a lo ancho */
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  background-color: #3b3620;
  height: 17rem;
  border-radius: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.banner p {
  font-size: 18px;
}

.banner a {
  color: chartreuse;
}

/* Footer de la pagina index */
footer {
  padding: 5px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: #000;
  margin: 0px 6px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Pagina de carreras inicia aca */
aside {
  height: 100vh;
  width: 15%;
  background-color: #f1d28a;
  border-right: #000000 solid 1px;
  position: sticky;
  top: 0;
  left: 0;
}

aside img {
  display: block;
  margin: 10px auto 0;
  width: 50px;
  border-radius: 50%;
}

aside p {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

aside h3 {
  text-align: center;
}

/* Contenedor de las cards  de carreras */
.carreras_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteiner_carrera {
  width: 85%;
  margin: 0 auto;
}

.conteiner_carrera h2 {
  text-align: center;
}

.conteiner_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__carreras {
  width: 300px;
  margin: 0 auto;
  background-color: #232533;
  margin: 15px;
  color: white;
  border: #000 solid 1px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 7px black;
          box-shadow: 0px 0px 7px black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.card__carreras:hover {
  scale: 1.1;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
}

.card__carreras img {
  width: 100%;
  height: 300px;
}

.card__carreras h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
}

.separador {
  padding: 10px;
}

.card__carreras p {
  font-size: 20px;
  padding: 5px 5px;
  color: white;
}

.card__carreras a {
  text-decoration: none;
}

.card__carreras button {
  display: block;
  font-size: 20px;
  background-color: #4b4b41;
  color: white;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

/* Pagina de becas */
.becas__conteiner {
  width: 80%;
  height: 100%;
  background-color: #f3dd99;
  margin: 0 auto;
}

.becas__conteiner .imagen_becas {
  height: 400px;
  width: 100%;
  border-top: #000 solid 1px;
  background-image: url("../images/beca.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.becas__main h2 {
  font-size: 30px;
  text-align: center;
}

/* CONTIENE A LOS ARTICULOS  */
.becas__main article {
  padding: 10px;
}

/* ES EL ARTICULO EN SI */
.becas__main div {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.becas__main {
  text-decoration: none;
}

.becas__main section {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
  height: 150px;
  border-radius: 50px;
  word-wrap: break-word;
  max-width: 100%;
  background-image: url("../images/tenis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.becas__main section h3 {
  font-size: 25px;
}

.becas__main section p {
  font-size: 18px;
}

.buttom__becas {
  background-color: #4b4b41;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Boton que aparezca cuando paso el mouse o le hago click */
.becas__main section:hover {
  height: 200px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  cursor: pointer;
}

.becas__main section:hover .buttom__becas {
  margin: auto;
  opacity: 1;
  display: block;
  float: left;
}

/* Pagina de login - No le veo sentido crearle un css a cada elemento como en la pagina de becas */
.body__login {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: burlywood;
}

/* ESTE SERIA EL CONTENEDOR DE LOS 2 DIVS */
.login__container {
  background-color: #F9E2AF;
  color: rgb(0, 5, 8);
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  width: 500px;
  margin: 0 auto;
}

.login__container .login h2 {
  text-align: center;
  font-size: 2.5rem;
}

.login__container .login .titulo {
  text-align: center;
  color: #000000;
}

.login__container .login label {
  display: block;
  font-weight: bolder;
  padding: 5px 2px;
}

.login__container .login input.input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.login__container .login .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__container .login .check p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.login__container .login .check a {
  color: rgb(98, 207, 112);
  text-decoration: none;
}

.login__container .login .check a:hover {
  text-decoration: underline;
}

/* BOTONES  */
.btn {
  border: none;
  padding: 15px;
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 5px 0px;
  font-weight: bolder;
}

.login__container .login .tipos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn.btn-login {
  background-color: black;
  color: white;
}

.btn.btn-facebook {
  background-color: #3b5998;
}

.btn.btn-instagram {
  background-color: #850049;
}

.btn.btn-twitter {
  background-color: #1DA1F2;
}

.imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagen .informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3b5998;
  width: 500px;
  border-radius: 5px;
}

.imagen {
  background-image: url("../images/ingeniero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Pagina de tops */
/* EMPIEZA LA PAGINA DE TOPS */
.article_tops {
  padding: 20px;
  width: 100%;
}

.conteiner__page__tops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__pagetops {
  border: solid 1px black;
  font-size: 20px;
  background-color: #f1f1f1;
  width: 75%;
}

/* FILA CON LAS CARACTERISTAS */
.table__pagetops thead {
  color: white;
  background-color: #3b3620;
}

.table__pagetops tr th {
  padding: 5px;
}

.table__pagetops tr td {
  padding: 10px;
  border-bottom: #000 solid 1px;
}

.table__pagetops tbody tr:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

.table__pagetops .td__center {
  text-align: center;
}

/* "ASIDE" CON INFORMACION Y COSAS */
.aside__pagetops {
  margin-left: 10px;
}

.aside__informacion__pagetops {
  background-color: #f1f1f1;
  padding: 5px;
  border: 1px black solid;
  border-radius: 15px;
  height: 60%;
}

.aside__caracteristicas__pagetops {
  background-color: #f1f1f1;
  padding: 5px;
  border: 1px black solid;
  border-radius: 15px;
  height: 35%;
  margin-top: 10px;
}

.text_article_tops {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  background-color: rgb(146, 146, 82);
  color: white;
  margin-top: 10px;
  width: 100%;
}

.imgMia {
  width: 640px;
  height: 427px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}

.miCarrusel {
  color: rgb(0, 0, 0);
}

/* Pagina de 404 */
/* PAGINA DE 404 */
.conteiner404 {
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  font-family: monospace;
  color: #000000;
}

.conteiner404 h1 {
  font-size: 33px;
}

.conteiner404 img {
  width: 100%;
  height: 75%;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  border-radius: 10px;
  background-color: #f1d28a;
  margin-top: 10px;
}

.conteiner404 p {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.conteiner404 button {
  cursor: pointer;
  font-size: 22px;
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: #f3dd99;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.conteiner404 p span {
  display: block;
  font-weight: bold;
}

/* responsives */
/* -----------------------------PAGINA DE TOPS BECAS---------------------
------------------------------------------------------------------------ */
@media screen and (max-width: 1200px) {
  .becas__conteiner {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .infocontainer div {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
    width: 100%;
  }
  .infocontainer div h3 {
    text-align: left;
  }
  .info img {
    width: 100%;
  }
  .info {
    display: block;
  }
  .clase img {
    width: 100%;
  }
  .clase {
    display: block;
  }
  .estudiar img {
    width: 100%;
  }
  .estudiar {
    display: block;
  }
  /* -----------------------------PAGINA DE TOPS 1000PX---------------------
  ------------------------------------------------------------------------ */
  .h2__tops {
    font-size: 20px;
  }
  .table__pagetops {
    width: 100%;
  }
  .table__pagetops tr th {
    font-size: 17px;
  }
  .table__pagetops tr td {
    font-size: 17px;
  }
  .conteiner__page__tops {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aside__pagetops h4 {
    text-align: center;
  }
  .aside__pagetops {
    padding: 0px;
    margin: 0px;
  }
  .aside__informacion__pagetops {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    overflow: hidden;
  }
  .aside__caracteristicas__pagetops {
    width: 100%;
  }
  .text_article_tops {
    font-size: 25px;
  }
  /* -----------------------------PAGINA DE CARRERAS 1000PX---------------------
  ------------------------------------------------------------------------ */
  .carreras_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* Me gusto como quedo el aside. pero como podria hacer
  para que cuando pase el mouse por el logo 
  las letras vayan apareciando de a poco y no tan derepente 
  tipo, ahora van como acomodandose cuando paso el mouse*/
  aside {
    width: 50px;
    height: 50px;
    background-color: #FFF2CC;
    border: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-bottom: 30px;
    position: relative;
    top: 0;
    left: 0;
  }
  aside p {
    opacity: 0;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  aside:hover {
    width: 100%;
    background-color: #f1d28a;
    height: 100%;
    border-bottom: #000 1px solid;
    opacity: 1;
  }
  aside:hover p {
    display: contents;
    opacity: 1;
  }
  aside:hover h3 {
    display: block;
  }
  .tituloaside,
  .textoaside {
    display: none;
  }
  .card__carreras {
    border-bottom: #000 solid 1px;
    overflow: hidden;
  }
  .separador p {
    display: none;
  }
  /* -----------------------------PAGINA DE 404 1000PX---------------------
  ------------------------------------------------------------------------ */
  .conteiner404 p {
    display: none;
  }
  /* -----------------------------PAGINA DEL INDEX.HTML 1000PX---------------------
  ------------------------------------------------------------------------ */
  .infocontainer {
    width: 100%;
    padding: 15px;
    margin: 0px;
  }
  .info img {
    width: 100%;
  }
  /* -----------------------------PAGINA DE BECAS 1000PX---------------------
  ------------------------------------------------------------------------ */
  .becas__main section p {
    display: none;
  }
  .imagen {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* POR AHORA LA UNICA QUE HE VISTO QUE ERA NECESARIO 
      -----------------------------PAGINA DE 404 1000PX---------------------
  ------------------------------------------------------------------------ */
  .conteiner404 h1 {
    font-size: 23px;
  }
  /*PAGINA DE LOGIN  */
  .login__container {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 425px) {
  .h2__tops {
    font-size: 17px;
  }
  .table__pagetops tr th {
    font-size: 17px;
  }
  .table__pagetops tr td {
    font-size: 17px;
  }
  .conteiner__page__tops {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aside__pagetops h4 {
    text-align: center;
  }
  .aside__pagetops {
    padding: 0px;
    margin: 0px;
  }
  .aside__informacion__pagetops {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    overflow: hidden;
    /* ACA ME GUSTARIA TENER UN BOTONSITO PARA PODER HACER MAS GRANDE EL CONTENEDOR */
  }
  .aside__caracteristicas__pagetops {
    width: 100%;
  }
  .text_article_tops {
    font-size: 15px;
  }
  /* -----------------------------PAGINA DE CARRERAS 425PX---------------------
  ------------------------------------------------------------------------ */
  /* POR AHORA LA UNICA QUE HE VISTO QUE ERA NECESARIO 
      -----------------------------PAGINA DE 404 425PX---------------------
  ------------------------------------------------------------------------ */
  .conteiner404 h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  /* POR AHORA LA UNICA QUE HE VISTO QUE ERA NECESARIO 
      -----------------------------PAGINA DEL INDEX.HTML 425PX---------------------
  ------------------------------------------------------------------------ */
  .infocontainer {
    width: 100%;
    padding: 15px;
    margin: 0px;
  }
  .info img {
    width: 100%;
  }
  .info p {
    font-size: 20px;
  }
}