.becas__conteiner{
    width: 80%;
    height: 100%;
    background-color:  #FFF2CC;
    margin: 0 auto 20px;
    color: white;
    
}
.becas__conteiner .imagen_becas{
    height: 400px;
    width: 100%;
    display: flex;
    border-top: #000 solid 1px;
    background-image: url("../images/beca.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
hr{
    color: grey;
}


.becas__main h2{
    font-size: 60px;
    text-align: center;
    color: #000;
}

/* CONTIENE A LOS ARTICULOS  */

.becas__main article{
    padding: 10px;
}


/* ES EL ARTICULO EN SI */
.becas__main div{
    text-decoration: none;
    display: flex;
}

.becas__main{
    text-decoration: none;
}


/* CARACTERISTCAS DEL SECCION */
.becas__main .informacion_becas{
    width: 100%;
    padding: 20px;
    height: 150px;
    border-radius: 50px;
    word-wrap: break-word;
    max-width: 100%;
    margin-bottom: 10px;
    transition: 0.2s ease;
    flex-wrap: wrap;
    
}

.manuel_belgrano{
    background-image: url("../images/manuelbelgrano.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.becas_depostiva{
    background-image: url("../images/tenis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.progresar{
    background-image: url("../images/progresar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.familiar{
    background-image: url("../images/familiar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.examen{
    color: black;
    background-image: url("../images/examen.jpg") ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}



.beca_titulo {
    margin-top: 10px;
    font-size: 30px;
    position: relative;
    font-family: 'Pacifico', cursive;
    font-family: 'Tilt Prism', cursive;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;


}

/* LINEAS PARA EL COSTADO DEL TITULO */
.beca_titulo::before , .beca_titulo::after{
    content: "";
    position: relative;
    width: 20%;
    height: 5px;
    background-color: rgb(46, 68, 61);
    top: 2rem;
    border-radius: 10px;

}

.beca_titulo::before{
    left: -20px;
}
.beca_titulo::after{
    right: -20px;
}

.becas__main section p {
    font-size: 18px;
}

.buttom__becas{
    background-color: #4b4b41;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s ease ;
}
/* Boton que aparezca cuando paso el mouse o le hago click */

.becas__main section:hover{
    height: 200px;;
    transform: scale(1.01);
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
    
}


.becas__main section:hover .buttom__becas{
    opacity: 1;
    display: block;
    float: left;
    
    
    
}
