/* Estilos cambiados de la nav de boostrap */
.minavbar{
    background-color:#F9E2AF ;
}
.navbar-titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}

.listaitem{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.listaitem a{
    transition: 0.2s;

}

.listaitem a:hover{
    transform: scale(1.1);
}